<%= form_with(model: chirp) do |form| %>
  <% if chirp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chirp.errors.count, "error") %> prohibited this chirp from being saved:</h2>

      <ul>
        <% chirp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="chirpContent">What's on your mind?</label><br/>
        <%= form.text_area :text, size: "85x5" , id: "chirpContent"%><br/>        
        <%= form.submit "Chirp!", class:"btn btn-outline-primary" %>
      </div>
    </div>    
  </div>


  

  
<% end %>
