<%= form_with(model: chirp) do |form| %>
  <% if chirp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chirp.errors.count, "error") %> prohibited this chirp from being saved:</h2>

      <ul>
        <% chirp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "What do you have in your mind?" %>
    <%= form.text_area :text, size: "70x5" %>
  </div>

  <div class="actions">
    <%= form.submit "Chirp!" %>
  </div>
<% end %>
