<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12 text-right">
    <i class="bi bi-plus-circle"><%= link_to ' New Chirp', new_chirp_path %></i>
  </div>    
</div>
<hr/>
<ul class="list-group">
  <% @chirps.each do |chirp| %> 
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-9">
          <%= chirp.text.upcase %>
        </div>
        <div class="col-md-1">
          <i class="bi bi-search"><%= link_to ' Show', chirp %></i>
        </div>
        <div class="col-md-1">
          <i class="bi bi-pencil"><%= link_to ' Edit', edit_chirp_path(chirp) %></i>
        </div>
        <div class="col-md-1">
          <i class="bi bi-trash"><%= link_to ' Destroy', chirp, method: :delete, data: { confirm: 'Are you sure?' } %></i>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<br/>
<p>Showing <%= "#{@chirps.length} of #{@chirps.length}" %></p>


